<!DOCTYPE html>
<html>
  <head>
    <title>맛집은 우리만</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>우리만 at ST <%= title %>시작 합니다.!!!!</p>
	<span>1111</span>  
</body>
</html>
